@import "../src/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-background-image: url('/background.jpg');
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
}